/* Footer */
.footer {
    
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    border-top: 1px solid #C9961A;

}

.footer-container {
    display: flex; /* Change to flex for responsive layout */
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    gap: 20px;
    max-width: 1140px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.footer-column {
    flex: 1; /* Make columns grow/shrink proportionally */
    margin-bottom: 20px;
}

  /* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .footer-column {
      flex: 100%; /* Make columns take full width on small screens */
    }
}

.footer-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #af7d00;
    text-align: center;
}

.footer-direc p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-item {
    margin-bottom: 10px;
}

.footer-social-list {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-social-item {
    margin-inline: 10px;
}

.footer-social-link {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-social-link:hover {
    transform: scale(1.1);
}

.footer-text {
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.footer-copyright {
    text-align: center;
    padding: 10px 0;
}

.footer-copyright-text {
    padding: 10px;
    font-size: 12px;
    color: #af7d00;
    background-color: #1c1c1c;
    height: auto;
}
