/* Estilo de la página Nuestros Estilos */
.seccion-pagina h1 {
    color: #C9961A;
    font-size: 2.5rem;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    background-color: #1f3144;
    margin-bottom: 30px;
}

.producto {
    background-color: #C9961A;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease-in-out;
}

.producto:hover {
    transform: translateY(-5px);
}

.producto h2,
.producto p,
.producto button {
    margin-top: 20px;
}

.producto button {
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #C9961A;
    color: white;
    border: none;
    cursor: pointer;
}

.producto button:hover {
    background-color: #f9d67f;
}
.magica-lager {
    background-image:url('../images/cervezas/cerveza-estilo-LAGER-servida-en-copa-cervecera.jpg');
}

.excenrica-blonde {
    background-image: url('../images/cervezas/cerveza-estilo-BLONDE-servida-en-copa-cervecera.jpg');
}

.locura-ipa {
    background-image: url('../images/cervezas/cerveza-estilo-IPA-servida-en-copa-cervecera.jpg');
}

.harry-porter {
    background-image: url('../images/cervezas/cerveza-estilo-PORTER-servida-en-copa-cervecera.jpg');
}

.top-stout {
    background-image: url('../images/cervezas/cerveza-estilo-STOUT-servida-en-copa-cervecera.jpeg');
}

.bella-belgian {
    background-image: url('../images/cervezas/cerveza-estilo-BELGIAN-servida-en-copa-cervecera.jpg');
}

.producto {
    background-size: cover;
    background-position: center;
}
