{% extends 'labirraesbella/base.html' %}
{% block titulo %} La Birra es Bella - Nuestros estilos {% endblock %}
{% load static %}




{% block content %}


<section class="seccion-pagina">
    <!-- Cervezas de "Nuestros Estilos" -->
    <div class="producto magica-lager" style="margin-top: 100px;">
        <div class="contenido">
            <h2>Magica Lager</h2>
            <p>Cerveza de color dorado claro brillante, muy refrescante que hasta quita la sed, con espuma muy blanca con poca retención, un estilo muy balanceado, suave pero con carácter para beber muy fácil. Su sabor es limpio.</p>
            <p>Precio: $XX.XX</p>
        </div>
    </div>
    <div class="producto excenrica-blonde">
        <div class="contenido">
            <h2>Excéntrica Blonde</h2>
            <p>Cerveza de color rubio claro a rubio turbio en bajas temperaturas, tiene cuerpo seco, con presencia de notas afrutadas pero moderadas y con ligero dulzor al final de cada sorbo. Su carbonatación es de media/alta.</p>
            <p>Precio: $XX.XX</p>
        </div>
    </div>
    <div class="producto locura-ipa">
        <div class="contenido">
            <h2>Locura IPA</h2>
            <p>Cerveza de color turbio dorado inpenetrable a la mirada, con una espuma cremosa blanca, de gran cuerpo y violento amargor, refrescante con un aroma predominante cítrico pero herbal, para valientes.</p>
            <p>Precio: $XX.XX</p>
        </div>
    </div>
    <div class="producto harry-porter">
        <div class="contenido">
            <h2>Harry Porter</h2>
            <p>Cerveza muy obscura y sustanciosa, compleja en cuerpo y aromas a malta acaramelada con toques fuertes amargos, con sabores a chocolate y/o café, al final deja un toque seco y medio dulce.</p>
            <p>Precio: $XX.XX</p>
        </div>
    </div>
    <div class="producto top-stout">
        <div class="contenido">
            <h2>Top Stout</h2>
            <p>Una Cerveza obscura de sabor muy fuerte con toques tostados, ahumados y amargos muy similar al café tostado, de bajo dulzor maltoso. De sensación cremosa, relajante y amargor medio.</p>
            <p>Precio: $XX.XX</p>
        </div>
    </div>
    <div class="producto bella-belgian">
        <div class="contenido">
            <h2>Bella Belgian</h2>
            <p>De color dorado pálido a ámbar ligero, cuerpo medio, con fuerte aroma a lúpulo y cítricos pero balanceada en sabor, con amplia variedad de notas frutales, especiadas y florales.</p>
            <p>Precio: $XX.XX</p>
        </div>
    </div>    
</section>


{% endblock %}




{% block scripts %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}


     